<footer>
    <p>© <%= new Date().getFullYear() %>, Bayram Aytuğ Uzun
    </p>
    <p>Powered by <a href="https://jikan.moe" target="_blank" rel="noopener noreferrer">Jikan API</a></p>
</footer>
</div>
<script src="../index.js"></script>
</body>

</html>