<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/main.css">
    <title>API Key Capstone</title>
</head>

<body>
    <div class="container">
        <header>
            <h1 id="header-title"> Anime Finder </h1>

            <form name="form" class="header-form" action="/get" method="POST">

                <input type="text" placeholder="Anime title" name="searchinput" class="search-input" />
                <button type="submit" id="btn">Search</button>

            </form>
        </header>